.form {
  position: relative;
}
.nav {
  position: absolute;
  top: 25px;
  right: 40px;
  :not(:last-child):after {
    content: '';
    border: 1px solid #e2e2e2;
    margin-left: 40px;
    margin-right: 40px;
  }
}
.loss {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.input_form {
  width: 100vw;
  max-width: 1296px;
  height: 72px;
  background: #fafafa;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05); */
  border-radius: 4px;
  border: 1px solid white;
}

.hero-bg {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 800px;
  background-image: url(../../images/hero-bg.jpg);
}

.modal {
  width: 72px;
  height: 72px;
  background-color: white;
}

.header {
  .container {
    padding-top: 24px;
    padding-bottom: 144px;
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  padding-left: 96px;
  h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 71px;
    line-height: 1.01;
    display: block;
    width: 500px;
    margin-bottom: 32px;
  }
  p {
    font-family: Roboto;
    font-size: 23px;
    line-height: 1.21;
    max-width: 688px;
    margin-bottom: 34px;
  }
  a {
    display: inline-block;
    background: #ff451c;
    border-radius: 8px;
    min-width: 200px;
    text-align: center;
    height: 25px;
    color: white;
    p {
      font-family: Roboto;
      font-size: 15px;
      line-height: 1.07;
      margin-top: 3px;
    }
  }
}
